---
const { title, description, link, btnText } = Astro.props;
---

<article
  class="bg-gradient-to-r from-orange-500 to-red-500 hover:from-red-500 hover:to-orange-500 transition-colors duration-1000 ease-in-out hover:bg-neutral-700 rounded-2xl w-90 h-60 overflow-hidden shadow-lg flex flex-col mx-2"
>
  <h3 class="text-xl font-semibold text-primary m-4">{title}</h3>
  <p class="text-gray-600 dark:text-gray-300">
    {description}
  </p>
  <a
    href={link}
    class="inline-block mt-4 text-primary font-bold hover:text-cyan-500 hover:animate-pulse"
    >{btnText}</a
  >
</article>
