---
const { firstMessage, secondMessage } = Astro.props;
interface Props {
  firstMessage: string;
  secondMessage: string;
}
---

<div
  class="mt-10 py-2 px-4 w-fit border-1 rounded-lg text-shadow-2xs text-shadow-white border-orange-500 text-orange-500 text-3xl font-sans bg-gradient-to-r from-black to-white"
  id="message"
  data-first-message={firstMessage}
  data-second-message={secondMessage}
  style="opacity: 0; transition: opacity 0.5s ease;"
>
</div>

<script is:inline>
  const messageEl = document.getElementById("message");
  const firstMessage = messageEl.dataset.firstMessage;
  const secondMessage = messageEl.dataset.secondMessage;

  const hasVisited = localStorage.getItem("hasVisited");

  const message = hasVisited ? firstMessage : secondMessage;

  if (!hasVisited) {
    localStorage.setItem("hasVisited", "true");
  }

  setTimeout(() => {
    messageEl.textContent = message;
    messageEl.style.opacity = "1";

    setTimeout(() => {
      messageEl.style.opacity = "0";
    }, 3000);
  }, 1000);
</script>
