---
import Hero from "../components/sections/Hero.astro";
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/sections/SectionContainer.astro";
import Services from "../components/sections/Services.astro";
import TitleContainer from "../components/ui/TitleContainer.astro";
const data = {
  title: "Bienvenidos a ",
  span: "Astro Devs",
  description:
    "Una agencia dedicada a ofrecer soluciones web de alto rendimiento para hacer crecer tu negocio.",
  url: "#services",
  cta: "Conoce nuestros servicios",
};
---

<Layout>
  <main role="main">
    <SectionContainer id="home">
      <Hero {...data} />
    </SectionContainer>
    <SectionContainer id="services">
      <Services>
        <TitleContainer> Nuestros servicios </TitleContainer>
      </Services>
    </SectionContainer>
  </main>
</Layout>
