---
import Hero from "../components/sections/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../components/sections/Section.astro";
const data = {
  title: "Bienvenidos a ",
  span: "Astro Devs",
  description:
    "Una agencia dedicada a ofrecer soluciones web de alto rendimiento para hacer crecer tu negocio.",
  url: "#about",
  cta: "Conoce nuestros servicios",
};
---

<Layout>
  <Section>
    <Hero {...data} />
  </Section>
</Layout>
