---
import Hero from "../components/sections/Hero.astro";
import Layout from "../layouts/Layout.astro";
const data = {
  title: "Bienvenidos a ",
  span: "Astro Devs",
  description:
    "Una agencia dedicada a ofrecer soluciones web de alto rendimiento para hacer crecer tu negocio.",
  url: "#about",
  cta: "Conoce más sobre nosotros",
};
---

<Layout>
  <section class="w-full h-[100vh] text-center mt-20">
    <Hero {...data} />
  </section>
</Layout>
