---
import Hero from "../components/sections/Hero.astro";
import LayoutBase from "../layouts/LayoutBase.astro";
import Modal from "../components/islands/Modal";
import Services from "../components/sections/Services.astro";
import Projects from "../components/sections/Projects.astro";

const message = {
  firstMessage: "Bienvenid@ y gracias por visitarnos!",
  secondMessage: "Volvés a nuestra web, genial!",
};
---

<LayoutBase>
  <main role="main">
    <Modal
      client:load
      title="📘 Descargá nuestra guía gratuita"
      message="Llevate la guía completa de 23 proyectos reales para aplicar tus conocimientos y marcar la diferencia en futuras postulaciones."
      delay={4000}
      downloadUrl="https://jonadev.gumroad.com/l/23proyectos?layout=profile"
      buttonText="Descargar ahora"
    />
    <Hero
      title="Bienvenidos a "
      span="Astro Devs"
      description="Una agencia dedicada a ofrecer soluciones web de alto rendimiento para hacer crecer tu negocio."
      ,
      url="#services"
      cta="Conoce nuestros servicios"
      bgImage="/backgrounds/bg-star.webp"
      message={message}
    />
    <Services />
    <Projects />
  </main>
</LayoutBase>
