---
import ContactForm from "../islands/ContactForm";
import SectionContainer from "./SectionContainer.astro";
import TitleContainer from "../ui/TitleContainer.astro";
import ContactIcon from "../../icons/icons-ui/ContactIcon.astro";
import LocationIcon from "../../icons/icons-ui/LocationIcon.astro";
import MobileIcon from "../../icons/icons-ui/MobileIcon.astro";
import InstagramIcon from "../../icons/icons-socials/InstagramIcon.astro";
import XspaceIcon from "../../icons/icons-socials/XspaceIcon.astro";
import LinkedinIcon from "../../icons/icons-socials/LinkedinIcon.astro";
import GitHubIcon from "../../icons/icons-socials/GitHubIcon.astro";
import ThreadsIcon from "../../icons/icons-socials/ThreadsIcon.astro";

const socials = [
  { title: "Instagram", Logo: InstagramIcon, link: "#" },
  { title: "X", Logo: XspaceIcon, link: "#" },
  { title: "linkedin", Logo: LinkedinIcon, link: "#" },
  { title: "github", Logo: GitHubIcon, link: "#" },
  { title: "threads", Logo: ThreadsIcon, link: "#" },
];
const FORMSUBMIT_URL = import.meta.env.PUBLIC_FORMSUBMIT_URL;
---

<SectionContainer id="contact">
  <TitleContainer
    headingLevel="h2"
    className="mb-5 flex justify-center items-center"
    ><span class="text-orange-500"><ContactIcon class="w-10 h-10" /></span>
    Contacta con nosotros
  </TitleContainer>
  <div class="flex justify-between items-center w-full px-20">
    <div class="flex flex-col w-3xl">
      <h2 class="text-3xl italic text-white text-start mb-6">
        Llamanos y contanos tu idea.
      </h2>
      <div class="flex items-center text-white mb-4">
        <MobileIcon class="text-orange-500 mr-2" />
        <p>+549 - 11 1234 5678</p>
      </div>
      <div class="flex items-center text-white">
        <LocationIcon class="text-orange-500 mr-2" />
        <p>Nuestras oficinas estan ubicadas en el centro de CABA - Arg.</p>
      </div>
      <h2 class="text-3xl italic text-white text-start mt-6">
        Seguinos en nuestras redes sociales:
      </h2>
      <div class="flex justify-start mb-4 items-center w-full">
        {
          socials.map((i: any) => (
            <a class="m-4 w-5" href={i.link}>
              <i.Logo />
            </a>
          ))
        }
      </div>
    </div>
    <ContactForm actionUrl={FORMSUBMIT_URL} />
  </div>
</SectionContainer>
