---
const background = "../../../public/bg-star.webp";
---

<div
  class="bg-cover w-full h-[100vh] mt-20"
  style={{ backgroundImage: `url(${background})` }}
>
  <h1>holafffffffffffffffffffffffff</h1>
</div>
