---
const { title, span, description } = Astro.props;
---

<h1
  class="text-center 2xl:text-7xl md:text-5xl sm:text-3xl font-bold text-primary mb-8"
>
  {title}<span class="text-blue-500 font-serif">{span}</span>
</h1>
<p
  class="max-w-3xl mx-auto text-center font-mono 2xl:text-3xl 2xl:max-w-[1150px] sm:text-lg md:text-xl text-gray-600 dark:text-gray-200 mb-6"
>
  {description}
</p>
<div class="flex justify-center 2xl:w-full"></div>
