---
import TitleContainer from "../ui/TitleContainer.astro";
---

<div class="bg-cover text-center my-20 w-full flex flex-col">
  <TitleContainer headingLevel="h2">
    Nuestros <span class="text-orange-500">servicios</span>
  </TitleContainer>
</div>
