---
import TitleContainer from "../ui/TitleContainer.astro";
---

<div
  class="bg-cover text-center my-20 w-full h-[100vh] flex items-center justify-center flex-col"
>
  <TitleContainer headingLevel="h2">
    hola <span class="text-orange-500">chau</span>
  </TitleContainer>
</div>
