---
import TitleContainer from "../ui/TitleContainer.astro";
import ParagraphContainer from "../ui/paragraphContainer.astro";
import Card from "../ui/Card.astro";
import SectionContainer from "./SectionContainer.astro";
import StarServicesIcon from "../../icons/icons-ui/StarServicesIcon.astro";
// const background = "../../../public/backgrounds/bg-space.webp";
const cardServices = [
  {
    title: "Desarrollo web",
    description:
      "Diseñamos y desarrollamos sitios web atractivos, rápidos y seguros para destacar tu marca, optimizar conversiones y mejorar la experiencia del usuario.",
    link: "#contact",
    btnText: "Saber mas..",
  },
  {
    title: "Gestión y mantenimiento",
    description:
      "Nos ocupamos de la actualización, seguridad y rendimiento de tu sitio, asegurando que funcione sin fallos y siempre esté optimizado para tus clientes.",
    link: "#contact",
    btnText: "Saber mas..",
  },
  {
    title: "Marketing digital",
    description:
      "Creamos estrategias de marketing digital efectivas para aumentar tu visibilidad online, atraer clientes potenciales y potenciar tus resultados de venta.",
    link: "#contact",
    btnText: "Saber mas..",
  },
];
---

<SectionContainer id="services">
  <TitleContainer
    headingLevel="h2"
    className="mb-5 flex justify-center items-center"
    ><span class="text-orange-500"><StarServicesIcon class="w-10 h-10" /></span>
    Nuestros servicios
  </TitleContainer>
  <ParagraphContainer>
    Aqui vas a encontrar todos nuestros servicios
  </ParagraphContainer>
  <div class="flex col-3 mt-3 justify-center 2xl:w-full text-white">
    {
      cardServices.map((c: any) => (
        <Card
          title={c.title}
          description={c.description}
          link={c.link}
          btnText={c.btnText}
        />
      ))
    }
  </div>
</SectionContainer>
