---
import TitleContainer from "../ui/TitleContainer.astro";
import ParagraphContainer from "../ui/paragraphContainer.astro";
import Card from "../ui/Card.astro";
import SectionContainer from "./SectionContainer.astro";
// const background = "../../../public/backgrounds/bg-space.webp";
const cardServices = [
  { title: "titulo1", description: "desc1", link: "#", btnText: "ver mas" },
  { title: "titulo1", description: "desc1", link: "#", btnText: "ver mas" },
  { title: "titulo1", description: "desc1", link: "#", btnText: "ver mas" },
];
---

<SectionContainer id="services">
  <TitleContainer headingLevel="h2" className="mb-5">
    Nuestros <span class="text-orange-500">servicios</span>
  </TitleContainer>
  <ParagraphContainer>
    Aqui vas a encontrar todos nuestros servicios
  </ParagraphContainer>
  <div class="flex mt-3 justify-center 2xl:w-full text-white">
    {
      cardServices.map((c: any) => (
        <Card
          title={c.title}
          description={c.description}
          link={c.link}
          btnText={c.btnText}
        />
      ))
    }
  </div>
</SectionContainer>
