---
import TitleContainer from "../ui/TitleContainer.astro";
import ParagraphContainer from "../ui/paragraphContainer.astro";
import Card from "../ui/Card.astro";
import SectionContainer from "./SectionContainer.astro";
import GleamIcon from "../../icons/GleamIcon.astro";
// const background = "../../../public/backgrounds/bg-space.webp";
const cardServices = [
  {
    title: "Desarrollo web",
    description:
      "Desarrollamos tu web desde cero con un diseño moderno, adaptable y acorde a las necesidades de tu negocio",
    link: "#contact",
    btnText: "Saber mas..",
  },
  {
    title: "Gestión y mantenimiento",
    description:
      "Ya tenes una web pero no estas consiguiendo resultados? Deja todo en nuestras manos. Nosotros la actualizamos y le damos mantenimiento 24/7",
    link: "#contact",
    btnText: "Saber mas..",
  },
  {
    title: "Marketing digital",
    description: "desc1",
    link: "#contact",
    btnText: "Saber mas..",
  },
];
---

<SectionContainer id="services">
  <TitleContainer
    headingLevel="h2"
    className="mb-5 flex justify-center items-center"
    ><span class="text-orange-500"><GleamIcon class="w-10 h-10" /></span>
    Nuestros servicios
  </TitleContainer>
  <ParagraphContainer>
    Aqui vas a encontrar todos nuestros servicios
  </ParagraphContainer>
  <div class="flex col-3 mt-3 justify-center 2xl:w-full text-white">
    {
      cardServices.map((c: any) => (
        <Card
          title={c.title}
          description={c.description}
          link={c.link}
          btnText={c.btnText}
        />
      ))
    }
  </div>
</SectionContainer>
