---

---

<div id="counter" class="p-2 bg-green-500 text-white inline-block rounded">
  <button id="decrement">-</button>
  <span id="count">0</span>
  <button id="increment">+</button>
</div>

<!-- Script modular -->
<script type="module" src="/counter.js"></script>
