---
const { text, url, Authors } = Astro.props;
---

<footer class="flex w-full h-20 justify-center items-center">
  <p class="text-center text-xl font-extralight text-gray-200">
    &copy; {new Date().getFullYear()}{" "}
    Astro devs. un sitio creado por <a
      href="https://instagram.jona.dev_ok"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-500 italic"
    >
      Jona Dev
    </a> - Realizado con 🧡 para
    <a
      href="https://nerdear.la"
      target="_blank"
      rel="noopener noreferrer"
      class="text-orange-500 font-bold"
    >
      Nerdearla
    </a>
    Todos los derechos reservados.
  </p>
</footer>
