---
import ButtonScroll from "../components/islands/ButtonScroll";
import Footer from "../components/LayoutComponents/Footer.astro";
import HeaderLanding from "../components/LayoutComponents/HeaderLanding.astro";
import "../styles/global.css";
const {
  title = "Astro devs",
  description = "Bienvenidos a Astro devs | El futuro de las webs estaticas",
  favicon = "../../public/logos/AstrodevsFavicon.svg",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={favicon} />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <HeaderLanding />
    <slot />
    <ButtonScroll client:load />
    <Footer />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
    background: black;
  }
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
